html{background: url("../images/martin-background.jpg");
	background-size: 400px;}

header{
	font-family: 'Permanent Marker', cursive;
	font-size: 100px;
	color:#ffa500;
	background-color: black;
	margin-left:350px;
	margin-right:425px;
	margin-top: -135px;
	margin-bottom: -10px;
	text-align: right;

}

#container{
	border:5px solid green;
	width:750px;
	height: 750px;
	margin-left:350px;
	background-color:#ffa500;

}

#martin{
	margin-left:300px;
}

	




